<%= title "Book Details" %>
    <%= render @book %>
        <div class="container">
            <%= link_to "Edit" , edit_book_path(@book) %> | <%= link_to "All Books" , books_path %>
            <%= button_to "Delete", @book, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>
        </div>