<!DOCTYPE html>
<html>

<head>
  <title>
    Counsel<%= " | #{yield(:title)}" unless yield(:title).blank? %>
  </title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
      <%= yield :head %>

        <link rel="manifest" href="/manifest.json" />
        <link rel="icon" href="/icon.png" type="image/png" />
        <link rel="icon" href="/icon.svg" type="image/svg+xml" />
        <link rel="apple-touch-icon" href="/icon.png" />
        <%= stylesheet_link_tag "application" , "data-turbo-track"=> "reload" %>
          <%= javascript_importmap_tags %>
</head>

<body>
  <nav class="py-2 bg-body-tertiary border-bottom">
    <div class="container d-flex flex-wrap">
      <ul class="nav me-auto">
        <%= nav_link 'Home' , root_path %>
          <%= nav_link 'About' , about_path %>
            <%= nav_link 'Books' , books_path %>
              <%= nav_link 'Counselors' , counselors_path %>
      </ul>
      <ul class="nav">
        <div class="btn-group" role="group" aria-label="Basic example">
          <div id="liveAlertPlaceholder"></div>
          <button type="button" class="btn btn-primary" id="liveAlertBtn">
            Login
          </button>

          <button type="button" class="btn btn-primary"
            style="--bs-btn-padding-y: 0.25rem; --bs-btn-padding-x: 0.5rem; --bs-btn-font-size: 0.75rem;">
            Sign up
          </button>
        </div>
      </ul>
    </div>
  </nav>
  <header class="py-3 mb-4 border-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
      <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
          <use xlink:href="#bootstrap" />
        </svg>
        <span class="fs-4">Mindfulness</span>
      </a>
      <form class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search" />
      </form>
    </div>
  </header>

  <div class="accordion" id="accordionExample">
    <!-- Accordion content here -->
  </div>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Read More About Us
  </button>

  <!-- Modal content here -->

  <div class="row">
    <% if @show_title %>
      <div class="col">
        <h1>
          <%= yield(:title) %>
        </h1>
      </div>
      <% end %>
  </div>

  <%= yield %>
</body>

<footer>
  <div class="container">
    <p class="text-center text-muted">
      &copy; <%= Time.current.year %> Counsel
    </p>
  </div>
</footer>

</html>