<% title "Login" %>

  <%= bootstrap_form_with(url: tasks_path, method: :post) do |f| %>
    <div class: "row g-3">
      <div class="col-md-6">
        <%= f.email_field :email, label: "Email" , class: "form-control" %>
          <%= f.password_field :password, label: "Password" , class: "form-control" %>
            <%= f.primary "Login" , class: "btn btn-primary mt-3" %>
      </div>
    </div>
    <% end %>
    <%= button_to "Login with Github", "/auth/github", class: "btn btn-primary mt-3", data: {turbo:false} %>